// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

$fa-font-path: "";
@import '~bootstrap/scss/bootstrap';
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/swiper/swiper.scss";


html,body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.main-content {
	width: 100%;
	height: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*******************************************************************************/

@font-face {
  font-family: 'IRANSansWeb';
  src: url(/fonts/IranWebSans.otf) format('otf');
  src: url(/fonts/IranWebSans.ttf) format('truetype');
}

.VideoScroller::-webkit-scrollbar {
  width: auto;
}

/* Track */
.VideoScroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #95b3bd;
  border-radius: 0;
}

/* Handle */
.VideoScroller::-webkit-scrollbar-thumb {
  background: #256d79;
  border-radius: 0;
}

/* Handle on hover */
.VideoScroller::-webkit-scrollbar-thumb:hover {
  background: #256d79;
}

.main-title {
	text-align: center;
	.title {
		color: #C6B085;
		font-size: 38px;
		font-family: 'IRANSansWeb';
		font-weight: bold;
		margin-bottom: 0px;
	}
	span.under-title {
		background-image: url(/images/under-title.png);
		background-position: center;
		background-repeat: no-repeat;
		float: left;
		width: 100%;
		height: 50px;
		margin-top: -10px;
	}
}

$WidthLeftSlider: 15%;
$minHeight: 747px;
$WidthSlider: 1100px;
$WidthRightSlider: 20em;
$SocialNetworkHeight: $minHeight/2;
$TopRightSlider: -1028px;
$bottomSpaceBox: 1px;
$SocialNetworkTopSpace: 208px;
$FontFamily: 'IRANSansWeb';
$FontSizeIcons: 26px;
$SizeIconsNavigation: 34px;
$sliderBoxPosition: relative;
$WidthCategoriesIcon: 110px;
$heightCategoriesIcon: 127px;

.section {
	width: 100%;
	float: left;
	padding: 0px;
}
// max z-index=6;
.FirstRow {
    float: left;
    min-height: auto;
    //background-color: rgba(10, 255, 19, 0.83);
    flex-direction: row;
    position: $sliderBoxPosition;
    //background-color: rgba(10, 255, 19, 0.83);
    direction: ltr;
    //overflow-x: hidden;
    .SliderRow {
		width: 100%;
		float: left;
		height: $minHeight;
		margin-top: -59px;
		z-index: 1;
    }
}
.NavigationRow {
    width: 100%;
    position: absolute;
    z-index: 99;
	direction: rtl;
	top: 0;
	left: 0;
    padding: 10px 0 10px 0;
    //background-color: rgba(175,20,166,0.83);
    min-height: 58px;
    margin-top: 0;
    .LanguageFrame, .MenuIcon, .SearchIcon {
		display: inline-block;
		z-index: 6;
    }

    .MenuIcon {
      	display: none;
    }

    .SearchIcon {
		float: right;
		//width: $SizeIconsNavigation;
		//height: $SizeIconsNavigation;
		//background-color: rgba(115,118,115,0.83);
		i {
			padding: 0px 10px;
			//text-align: center;
			font-size: $FontSizeIcons;
			line-height: 38px;
		}
    }

  
	.NavigationItems {
		//background-color: rgba(175, 104, 14, 0.83);
		color: #FFFFFF;
		float: right;
	}
	.ListMenu {
		// width: 365px;
		z-index: 5;
		margin-top: 0;
		padding-right: 16px;
		//background-color: crimson;
		margin-bottom: 0;
		line-height: 38px;
		float: right;
		// right: -202px;
		text-align: right;
		li {
			display: inline;
			font-family: $FontFamily;
			font-weight: 600;
			font-size: 16px;
			text-align: right;
			list-style: none;
			// width: 100%;
			//background-color: blue;
			border-left: #f1c148 solid 3px;
			padding: 8px 5px;
			a {
				color: #ffffff;
			}
		}
		li:hover {
			a {
				transition: 0.3s;
				color: #dfdfdf;
				text-decoration: none;
			}
		}
	}

  	.LanguageFrame {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 0;
		float: right;
		//background-color: aqua;
		width: 200px;
		padding-bottom: 2px;
		padding-top: 3px;
		list-style: none;
		li {
			padding-right: 10px;
			float: right;
			a {
				img {
				width: $SizeIconsNavigation;
				height: $SizeIconsNavigation;
				}
			}
		}
  	}
}

.SliderFrame {
	width: 80%;
	height: $minHeight;
	position: $sliderBoxPosition;
	z-index: 1;
	top: -1*$minHeight;
	margin-left: 0;

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		width: 100% !important;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		img {
			width: 100% !important;
			height: auto;
			float: left;
		}
	}
}

.RightSideSlider {
	width: 46em;
	position: relative;
	z-index: 3;
	background-image: url(/images/backgroundSliderRight.png);
	background-repeat: no-repeat;
	background-size: 109%;
	background-position-y: 0;
	background-position-x: -32px;
	height: $minHeight;
	top: -1494px;
	float: right;
	//background-color: black;
	//left: 0;
	.TebRoozLogo {
		width: max-content;
		height: max-content;
		margin-top: 140px;
		margin-left: 56%;
		img {
			width: 220px;
			height: 132px;
			//float: right;
		}
	}

	.SocialNetworkIcon {
		position: absolute;
		margin-top: 208px;
		right: 0;
		padding: 0px;
		float: right;
		background-color: #acddd7;
		li {
			width: 100%;
			display: grid;
			a {
				width: 100%;
				padding: 5px 12px 5px 8px;
				text-align: center;
				color: #FFFFFF;
				i {
				font-size: 22px;
				}
			}
		}
	}

	.ContactNumber {
		list-style: none;
		//display: none;
		//background-color: rgba(255,0,23,0.83);
		width: auto;
		padding-left: 0;
		margin-left: 350px;
		margin-top: 346px;
		height: 40px;
		transform: rotate(0deg);
		li {
			color: #FFFFFF;
			display: inline-block;
			margin-top: 8px;
			span {
			font-size: 16px;
			vertical-align: text-bottom;
			font-weight: bold;
			}
			i {
			font-size: 24px;
			}
		}
	}

}
.LeftSideSlider {
	width: $WidthLeftSlider;
	background-image: url(/images/backgroundSliderLeft.png);
	height: $minHeight;
	position: $sliderBoxPosition;
	//bottom: $bottomSpaceBox;
	//background-color: rgba(175, 28, 34, 0.83);
	z-index: 2;
	//right: 54%;
	margin-left: 0;
	background-repeat: no-repeat;
	background-size: 130%;
	background-position-x: 0;
	background-position-y: bottom;
}

// //categories style

.CategoriesRow {
	float: left;
	direction: ltr;
	position: $sliderBoxPosition;
	//display: flex;
	//flex-direction: column;
	//background-color: rgba(33,37,175,0.83);
	.CategoriesColumn {
		@include make-col(12);
		//background-color: rgba(255,0,23,0.83);
		//max-width: 32%;
		//flex: 32%;
		padding-right: 10px;
		padding-left: 10px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
		padding-bottom: 15px;
	}

	.CategorieFrame {
		//@include make-col(4);
		//background-color: rgba(169, 175, 10, 0.83);
		//background-image: url(../images/BackIconsBodyMembers.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: max-content;
		height: max-content;
		align-items: baseline;
		justify-content: center;
		img {
		width: $WidthCategoriesIcon;
		height: $heightCategoriesIcon;
		//background-color: rgba(70, 175, 40, 0.83);
		margin: 10px;
		}
	}
}

// // doctor slider
.doctors-slider  {
	.swiper-wrapper {
		float: left;
	}
	.swiper-slide {
		overflow: hidden;
		box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
		padding: 0px;
		float: left;
		.doctor-avatar {
			float: left;
			width: 100%;
			height: auto;
			padding: 0px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.doctor-info {
			.doctor-name {
				color: #4b65b2;
				font-size: 18px;			
			}
			p {
				float: right;
				text-align: right;
				width: 100%;
				font-family: 'IRANSansWeb';
			}
			.doctor-speciality {
				width: fit-content;
			}
		}
	}
}

// // Articles style

.ArticlesRow {
	.ArticlesCol {
		width: 100%;
	}
	.ArticlesTitle {
		width: 24%;
		margin-left: 38%;
		margin-top: 20px;
		img {
		width: 100%;
		height: auto;
		}
	}

	.ArticlesBox {
		width: 100%;
		background-image: url(/images/backgroundServices.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: left;
		background-position-y: top;
		margin-bottom: 15px;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.Article {
		font-family: $FontFamily;
		float: right;
	}
	.ImageArticle {
		width: 30%;
		float: right;
		height: auto;
		//background-color: rgba(255,0,23,0.83);
		img {
		width: 100%;
		height: auto;
		}
	}
	.ArticleContent {
		//background-color: rgba(217,60,159,0.83);
		width: 70%;
		height: 100%;
		float: right;
		padding: 8px;
		font-size: 15px;
		background-color: transparent;
		background-image: url(/images/backArticle.png);
		background-size: cover;
		color: #070506;
	}
	.TXTContent {
		width: 100%;
		direction: rtl;
		text-align: justify;
		justify-content: space-around;
	}
	.ArticleDate {
		text-align: left;
		width: 100%;
		margin-top: 5px;
	}
}
