
// //video style

// .VideoRow {
//   $videoPosition: absolute;
//   @include make-row();
//   height: max-content;
//   .VideoColumn {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     padding: 0px 15px 15px 15px;
//     position: $videoPosition;
//   }
//   .h_iframe-aparat_embed_frame {
//     position: relative;
//   }

//   .h_iframe-aparat_embed_frame .ratio {
//     display: block;
//     width: 100%;
//     height: auto;
//   }

//   .h_iframe-aparat_embed_frame iframe {
//     position: $videoPosition;
//     top: 0;
//     left: 0;
//     width: 795px;
//     height: 450px;
//   }
//   .VideoTitle {
//     position: $videoPosition;
//     width: 24%;
//     margin-left: 38%;
//     margin-top: 20px;
//     img {
//       width: 100%;
//       height: auto;
//     }

//   }
//   .VideoFrame {
//     display: inline-flex;
//     max-width: 100%;
//     flex: 100%;
//     flex-direction: row-reverse;
//     flex-wrap: nowrap;
//     margin-top: 10%;
//     //background-color: rgba(175,20,166,0.83);
//   }

//   .Video {
//     max-width: 796px;
//     flex: 68%;
//     height: 795px;
//   }
//   .ItemsFrame {
//     width: 30%;
//     flex: 30%;
//     height: 450px;
//     overflow-y: scroll;
//     margin-top: 0;
//     padding-right: 15px;
//     margin-right: 15px;
//     //background-color: rgba(255,0,23,0.83);
//   }
//   /* Handle */
//   .VideoItems {
//     width: 100%;
//     flex: 100%;
//     flex-direction: row-reverse;
//     display: inline-flex;
//     margin-top: 15px;
//     .ImagesItem {
//       max-width: 30%;
//       flex: 30%;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .DescriptionItem {
//       width: 70%;
//       flex: 70%;
//       font-size: 14px;
//       text-align: right;
//       padding: 5px;
//       font-family: $FontFamily;
//       align-self: flex-end;
//       color: #266779;
//     }
//   }
// }


// //footer style
// .FooterRow {
//   @include make-row();
//   background-color: #43868f;
//   background-image: url(/images/dots_footer.png);
//   background-repeat: no-repeat;
//   background-position-x: 124%;
//   background-position-y: -52px;
//   background-size: 55%;
//   position: relative;
//   bottom: -718px;
//   .FooterColumn {
//     @include make-col(12);
//     //background-color: rgba(44, 175, 156, 0.83);
//     font-family: $FontFamily;
//     font-size: 14px;
//     color: #FFFFFF;
//     padding: 10px 0px 10px 10px;
//     display: inline-flex;
//     flex-direction: row;
//   }
//   .FirstBox, .SecondBox, .ThirdBox {
//     //max-width: 32%;
//     //flex: 32%;
//   }
//   .FirstBox, .SecondBox {
//     width: 30%;
//     flex: 30%;
//   }
//   .FirstBox {
//     //background-color: rgba(17, 62, 175, 0.83);
//     background-image: url(/images/FooterSeprator.png);
//     background-repeat: no-repeat;
//     background-size: 5%;
//     background-position-x: right;
//     background-position-y: bottom;
//     flex-direction: column;
//     text-align: right;
//     direction: rtl;
//     padding-right: 25px;
//     margin-right:5px;
//     margin-top:30px;
//     .SocialNetWorks{
//       margin-top:20px;
//     }
//     .Title {
//       width: 100%;
//       flex: 100%;
//     }
//     .Icons {
//       width: 100%;
//       flex: 100%;
//       height: 36px;
//       text-align: right;
//       margin-top: 10px;
//       a {
//         color: #ffffff;
//         text-decoration: none;
//         margin: auto 4px;
//         i {
//           font-size: 24px;
//         }
//       }
//     }
//     .TitleServices{
//       margin-bottom: 10px;
//     }
//     .SevicesFrame{
//       padding-right: 5px;
//     }
//   }
//   .SecondBox {
//     text-align: right;
//     //background-color: rgba(108, 60, 175, 0.83);
//     background-image: url('../images/FooterSeprator.png');
//     background-repeat: no-repeat;
//     background-size: 5%;
//     background-position-x: right;
//     background-position-y: bottom;
//     flex-direction: column;
//     text-align: right;
//     direction: rtl;
//     padding-right: 25px;
//     margin-right:5px;
//     .PhoneNumber, .date, .Address {
//       display: inherit;
//       padding-top: 5px;
//       padding-bottom: 5px;
//       top: 117px;
//       position: relative;
//     }
//   }
//   .ThirdBox {
//     //background-color: rgba(49, 14, 175, 0.83);
//     width: 40%;
//     flex: 40%;
//     flex-direction: column;
//     text-align: right;
//     direction: rtl;
//     padding-right: 15px;
//     margin-right:5px;
//     .About{
//       p{
//         margin-bottom: 10px;
//       }
//       a {
//         font-family: $FontFamily, Tahoma;
//         position: $sliderBoxPosition;
//         width: 100px;
//         text-align: center;
//         color: #FFFFFF;
//         text-decoration: none;
//         padding: 2px 8px;
//         border: solid #FFFFFF 1px;
//         top: 0;
//         border-radius: 20px;
//         font-size: 12px;
//         float:left;
//       }
//     }
//     .Logo {
//       //background-color: rgba(175, 21, 99, 0.83);
//       img {
//         width: 40%;
//         height: auto;
//         //background-color: rgba(175, 40, 57, 0.83);
//       }
//     }
//   }
// }





// @media (max-width: 575.98px) {

//   $WidthLeftSlider: 15%;
//   $minHeight: 330px;
//   $WidthSlider: 486px;
//   $WidthRightSlider: 18em;
//   $SocialNetworkHeight: $minHeight/2;
//   $TopRightSlider: -1*$minHeight*2;
//   $bottomSpaceBox: 1px;
//   $SocialNetworkTopSpace: $SocialNetworkHeight/2;
//   $FontFamily: 'IRANSansWeb';
//   $FontSizeIcons: 30px;
//   $SizeIconsNavigation: 40px;
//   $sliderBoxPosition: relative;
//   $WidthCategoriesIcon: 110px;
//   $heightCategoriesIcon: 127px;
//   // max z-index=6;

//   .Container {
//     @include make-container();
//     overflow-x: hidden;
//   }

//   .FirstRow {
//     @include make-row();
//     min-height: auto;
//     //background-color: rgba(10, 255, 19, 0.83);
//     flex-direction: row;
//     position: $sliderBoxPosition;
//     direction: ltr;
//     //overflow-x: hidden;
//     .SliderRow {
//       width: 100%;
//       display: inline-block;
//       height: $minHeight;
//       z-index: 1;
//     }
//   }
//   .SliderFrame, .LeftSideSlider, .RightSideSlider {
//     //height: 98%;
//   }
//   .NavigationRow {
//     width: 100%;
//     position: $sliderBoxPosition;
//     z-index: 4;
//     direction: rtl;
//     padding: 10px 0 10px 0;
//     background-color: #3f828b;
//     min-height: 58px;
//     .LanguageFrame, .MenuIcon, .SearchIcon {
//       display: inline-block;
//       z-index: 6;
//     }

//     .MenuIcon {
//       width: $SizeIconsNavigation;
//       height: $SizeIconsNavigation;
//       padding-right: 10px;
//       float: right;
//       i {
//         font-size: $FontSizeIcons;
//       }
//     }
//     .SearchIcon {
//       float: left;
//       width: $SizeIconsNavigation;
//       height: $SizeIconsNavigation;
//       i {
//         font-size: $FontSizeIcons;
//         line-height: 38px;
//       }
//     }
//     .NavigationItems {
//       //background-color: rgba(175, 104, 14, 0.83);
//       color: #FFFFFF;
//       position: relative;
//     }
//     .ListMenu {
//       display: none;
//       width: 100%;
//       z-index: 5;
//       margin-top: 40px;
//       padding-right: 16px;
//       li {
//         display: list-item;
//         font-family: $FontFamily;
//         font-weight: 600;
//         font-size: 16px;
//         text-align: right;
//         list-style: none;
//         width: 100%;
//       }
//     }

//     .LanguageFrame {
//       padding-left: 10px;
//       padding-right: 10px;
//       margin-bottom: 0;
//       float: left;
//       li {
//         display: inline-block;
//         padding-right: 10px;
//         a {
//           img {
//             width: $SizeIconsNavigation;
//             height: $SizeIconsNavigation;
//           }
//         }
//       }
//     }
//   }
//   .SliderFrame {
//     width: $WidthSlider;
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     z-index: 1;
//     top: -330px;
//     margin-left: 1px;
//     .carousel-indicators li {
//       //
//       box-sizing: content-box;
//       -webkit-box-flex: 0;
//       flex: 0 1 auto;
//       width: 16px;
//       height: 16px;
//       margin-right: 3px;
//       margin-left: 3px;
//       text-indent: -999px;
//       cursor: pointer;
//       background-color: #216975;
//       background-clip: padding-box;
//       border-top: 0px solid transparent;
//       border-bottom: 0px solid transparent;
//       border-radius: 8px;
//       //-webkit-transition: opacity 0.6s ease;
//       //transition: opacity 0.6s ease;
//     }
//     .ImagesSlider {
//       width: auto;
//       .carousel-item {
//         img {
//           height: $minHeight;
//           width: $WidthSlider;
//         }
//       }
//     }

//   }
//   .RightSideSlider {
//     width: $WidthRightSlider;
//     position: $sliderBoxPosition;
//     z-index: 3;
//     background-image: url(../images/backgroundSliderRight.png);
//     background-repeat: no-repeat;
//     background-size: 123%;
//     background-position-y: bottom;
//     background-position-x: 30px;
//     height: $minHeight;
//     //background-color: rgba(23, 135, 255, 0.83);
//     top: $TopRightSlider;
//     float: right;
//     //left: 0;
//     .TebRoozLogo {
//       width: 55%;
//       height: 54px;
//       margin-top: 4%;
//       margin-left: 50%;
//       img {
//         width: 80px;
//         height: 54px;
//         //float: right;
//       }
//     }

//     .SocialNetworkIcon {
//       //width: 40px;
//       //height: $SocialNetworkHeight;
//       position: $sliderBoxPosition;
//       margin-top: $SocialNetworkTopSpace;
//       //direction: ltr;
//       padding-left: 0;
//       float: right;
//       background-color: #acddd7;
//       li {
//         width: 100%;
//         display: grid;
//         a {
//           width: 100%;
//           padding: 5px 12px 5px 8px;
//           text-align: center;
//           color: #FFFFFF;
//           i {
//             font-size: 22px;
//           }
//         }
//       }
//     }

//     .SignInBTN {
//       width: 100px;
//       text-align: center;
//       height: 50px;
//       //background-color: blueviolet;
//       position: $sliderBoxPosition;
//       margin-left: 40%;
//       margin-top: 30%;
//       a {
//         position: $sliderBoxPosition;
//         width: 100px;
//         padding: 5px;
//         text-align: center;
//         color: #FFFFFF;
//         text-decoration: none;
//         padding: 5px 15px;
//         border: solid #FFFFFF 1px;
//         top: 13px;
//         border-radius: 15px;
//       }
//     }

//     .ContactNumber {
//       list-style: none;
//       //display: none;
//       //background-color: rgba(255,0,23,0.83);
//       width: 142px;
//       padding-left: 0;
//       margin-left: 164px;
//       margin-top: 8px;
//       height: 80px;
//       transform: rotate(64deg);
//       li {
//         color: #FFFFFF;
//         display: inline-block;
//       }
//     }

//   }
//   .LeftSideSlider {
//     width: $WidthLeftSlider;
//     background-image: url(../images/backgroundSliderLeft.png);
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     //bottom: $bottomSpaceBox;
//     //background-color: rgba(175, 28, 34, 0.83);
//     z-index: 2;
//     //right: 54%;
//     background-repeat: no-repeat;
//     background-size: 134%;
//     background-position-x: left;
//     background-position-y: bottom;
//   }

//   //categories style

//   .CategoriesRow {
//     @include make-row();
//     direction: ltr;
//     position: $sliderBoxPosition;
//     //display: flex;
//     //flex-direction: column;
//     //background-color: rgba(33,37,175,0.83);
//     .CategoriesColumn {
//       @include make-col(12);
//       //background-color: rgba(255,0,23,0.83);
//       //max-width: 32%;
//       //flex: 32%;
//       padding-right: 10px;
//       padding-left: 10px;
//       display: flex;
//       align-items: baseline;
//       justify-content: space-between;

//       flex-direction: row;
//       flex-wrap: nowrap;
//       overflow-x: scroll;
//       padding-bottom: 15px;
//     }

//     .CategorieFrame {
//       //@include make-col(4);
//       //background-color: rgba(169, 175, 10, 0.83);
//       //background-image: url(../images/BackIconsBodyMembers.png);
//       background-repeat: no-repeat;
//       background-size: contain;
//       width: max-content;
//       height: max-content;
//       align-items: baseline;
//       justify-content: space-between;
//       img {
//         width: $WidthCategoriesIcon;
//         height: $heightCategoriesIcon;
//         //background-color: rgba(70, 175, 40, 0.83);
//         margin-left: 0;
//         margin-top: 10px;
//       }
//     }

//   }

//   // doctor slider

//   .DoctorRow {
//     margin-top: 20px;
//     width: 100%;
//   }
//   .TitleDoctorSlider {
//     width: 90%;
//     margin-left: 5%;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   .ImageFrame {
//     width: 100%;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   #exampleSlider .MS-controls button {
//     width: 10%;
//     display: block;
//     top: 300px;
//     color: #23677a;
//     width: 40px;
//     height: 40px;
//     border: 2px solid #23677a;
//     border-radius: 34px;
//     i {
//       vertical-align: super;
//       font-size: 22px;
//     }
//   }

//   #exampleSlider .MS-content {
//     width: 80%;
//     margin-left: 10%;
//     border-color: #F2F2F2;
//     border-style: groove;
//     border-width: 4px 2px 2px 2px;
//   }

//   #exampleSlider .MS-content .item {
//     width: 100%;
//     border: none;
//   }

//   .ContentDoctorSlider {
//     $widthDoctorTXT: 98%;
//     width: $widthDoctorTXT;
//     font-family: $FontFamily;
//     .doctorName, .doctorDegree {
//       width: $widthDoctorTXT;
//       display: inherit;
//       text-align: right;
//       white-space: pre-wrap;
//     }
//     .doctorName {
//       font-size: 24px;
//       margin-top: 20px;
//       color: #4b65b2;
//     }
//     .doctorDegree {
//       font-size: 18px;
//       color: #6a6a6a;
//     }

//     .TextDoctorsSlider {
//       font-size: 16px;
//       width: $widthDoctorTXT;
//       white-space: pre-wrap;
//       text-align: right;
//       margin-top: 16px;
//       color: #a4a4a4;
//       border-top: solid 2px #F2F2F2;
//       //text-justify: auto;
//     }
//   }

//   // Articles style

//   .ArticlesRow {
//     margin-top: 20px;
//     width: 100%;
//     .ArticlesCol {
//       width: 100%;
//     }
//     .ArticlesTitle {
//       width: 90%;
//       margin-left: 5%;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     .ArticlesBox {
//       width: 100%;
//       background-image: url('../images/backgroundServices.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position-x: center;
//       background-position-y: center;
//       margin-bottom: 15px;
//     }
//     .Article {
//       width: 100%;
//       font-family: $FontFamily;
//       margin-left: 0;
//       display: flex;
//       flex-direction: row-reverse;
//       margin-top: 15px;
//     }
//     .ImageArticle {
//       max-width: 40%;
//       flex: 40%;
//       height: auto;
//       background-color: rgba(255, 0, 23, 0.83);
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ArticleContent {
//       //background-color: rgba(217,60,159,0.83);
//       max-width: 60%;
//       flex: 60%;
//       flex-direction: column;
//       padding: 2px;
//       font-size: 10px;
//       background-color: transparent;
//       background-image: url('../images/backArticle.png');
//       background-size: contain;
//       color: #070506;
//     }
//     .TXTContent {
//       width: 100%;
//       direction: rtl;
//       text-align: justify;
//       justify-content: space-around;
//     }
//     .ArticleDate {
//       text-align: left;
//       width: 100%;
//       margin-top: 5px;
//     }
//   }

//   //video style

//   .VideoRow {
//     $videoPosition: absolute;
//     @include make-row();
//   }

//   //video style

//   .VideoRow {
//     $videoPosition: absolute;
//     @include make-row();
//     .VideoColumn {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       padding: 0px 15px 15px 15px;
//     }
//     .h_iframe-aparat_embed_frame {
//       position: relative;
//     }

//     .h_iframe-aparat_embed_frame .ratio {
//       display: block;
//       width: 100%;
//       height: auto;
//     }

//     .h_iframe-aparat_embed_frame iframe {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }
//     .VideoFrame {
//       max-width: 100%;
//       flex: 100%;
//       flex-direction: column;
//       //position: $videoPosition;
//     }
//     .Video {
//       //position: relati;
//       height: fit-content;
//       width: 100%;
//     }
//     .VideoTitle {
//       width: 90%;
//       margin-left: 5%;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ItemsFrame {
//       width: 100%;
//       flex: 100%;
//       max-height: 300px;
//       overflow-y: scroll;
//       background-color: #F5F5F5;
//       margin-top: 10px;
//     }
//     /* Handle */
//     .VideoItems {
//       flex-direction: row-reverse;
//       display: inline-flex;
//       width: 100%;
//       flex: 100%;
//       margin-top: 15px;
//       .ImagesItem {
//         max-width: 40%;
//         flex: 40%;
//         img {
//           width: 100%;
//           height: auto;
//         }
//       }
//       .DescriptionItem {
//         width: 60%;
//         flex: 60%;
//         font-size: 14px;
//         text-align: right;
//         padding: 5px;
//         font-family: $FontFamily;
//         align-self: flex-end;
//         color: #266779;
//       }
//     }
//   }

//   // footer style

//   .FooterRow {
//     @include make-row();
//     background-color: #43868f;
//     background-image: url('../images/dots_footer.png');
//     background-repeat: no-repeat;
//     background-position-x: 50%;
//     background-position-y: -90px;
//     .FooterColumn {
//       @include make-col(12);
//       font-family: $FontFamily;
//       font-size: 12px;
//       color: #FFFFFF;
//       padding: 10px 15px;
//     }
//     .FirstBox {
//       display: none;
//     }
//     .ThirdBox {
//       display: none;
//     }
//     .SecondBox {
//       @include make-col(12);
//       text-align: center;
//       .PhoneNumber, .date, .Address {
//         @include make-col(12);
//         display: inherit;
//         padding-top: 5px;
//         padding-bottom: 5px;
//       }
//     }

//   }

// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) {
//   $WidthLeftSlider: 15%;
//   $minHeight: 514px;
//   $WidthSlider: 694px;
//   $WidthRightSlider: 20em;
//   $SocialNetworkHeight: $minHeight/2;
//   $TopRightSlider: -1028px;
//   $bottomSpaceBox: 1px;
//   $SocialNetworkTopSpace: $SocialNetworkHeight/2;
//   $FontFamily: 'IRANSansWeb';
//   $FontSizeIcons: 30px;
//   $SizeIconsNavigation: 40px;
//   $sliderBoxPosition: relative;
//   $WidthCategoriesIcon: 110px;
//   $heightCategoriesIcon: 127px;
//   // max z-index=6;
//   .Container {
//     @include make-container();
//     overflow-x: hidden;
//   }

//   .FirstRow {
//     @include make-row();
//     min-height: auto;
//     //background-color: rgba(10, 255, 19, 0.83);
//     flex-direction: row;
//     position: $sliderBoxPosition;
//     direction: ltr;
//     //overflow-x: hidden;
//     .SliderRow {
//       width: 100%;
//       display: inline-block;
//       height: $minHeight;
//       //flex-shrink: 1;
//       //flex-wrap: nowrap;
//       //flex-direction: row;
//       //position: relative;
//       z-index: 1;
//     }
//   }
//   .SliderFrame, .LeftSideSlider, .RightSideSlider {
//     //height: 98%;
//   }
//   .NavigationRow {
//     width: 100%;
//     position: $sliderBoxPosition;
//     z-index: 4;
//     direction: rtl;
//     padding: 10px 0 10px 0;
//     background-color: #3f828b;
//     min-height: 58px;
//     .LanguageFrame, .MenuIcon, .SearchIcon {
//       display: inline-block;
//       z-index: 6;
//     }

//     .MenuIcon {
//       width: $SizeIconsNavigation;
//       height: $SizeIconsNavigation;
//       padding-right: 10px;
//       float: right;
//       i {
//         font-size: $FontSizeIcons;
//       }
//     }
//     .SearchIcon {
//       float: left;
//       width: $SizeIconsNavigation;
//       height: $SizeIconsNavigation;
//       i {
//         font-size: $FontSizeIcons;
//         line-height: 38px;
//       }
//     }
//     .NavigationItems {
//       //background-color: rgba(175, 104, 14, 0.83);
//       color: #FFFFFF;
//       position: relative;
//     }
//     .ListMenu {
//       display: none;
//       width: 100%;
//       z-index: 5;
//       margin-top: 40px;
//       padding-right: 16px;
//       li {
//         display: list-item;
//         font-family: $FontFamily;
//         font-weight: 600;
//         font-size: 16px;
//         text-align: right;
//         list-style: none;
//         width: 100%;
//       }
//     }

//     .LanguageFrame {
//       padding-left: 10px;
//       padding-right: 10px;
//       margin-bottom: 0;
//       float: left;
//       li {
//         display: inline-block;
//         padding-right: 10px;
//         a {
//           img {
//             width: $SizeIconsNavigation;
//             height: $SizeIconsNavigation;
//           }
//         }
//       }
//     }
//   }
//   .SliderFrame {
//     width: $WidthSlider;
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     z-index: 1;
//     top: -1*$minHeight;
//     margin-left: 1px;
//     .carousel-indicators li {
//       //
//       box-sizing: content-box;
//       -webkit-box-flex: 0;
//       flex: 0 1 auto;
//       width: 16px;
//       height: 16px;
//       margin-right: 3px;
//       margin-left: 3px;
//       text-indent: -999px;
//       cursor: pointer;
//       background-color: #216975;
//       background-clip: padding-box;
//       border-top: 0px solid transparent;
//       border-bottom: 0px solid transparent;
//       border-radius: 8px;
//       //-webkit-transition: opacity 0.6s ease;
//       //transition: opacity 0.6s ease;
//     }
//     .ImagesSlider {
//       width: auto;
//       .carousel-item {
//         img {
//           height: $minHeight;
//           width: $WidthSlider;
//         }
//       }
//     }

//   }
//   .RightSideSlider {
//     width: $WidthRightSlider;
//     position: $sliderBoxPosition;
//     z-index: 3;
//     background-image: url(../images/backgroundSliderRight.png);
//     background-repeat: no-repeat;
//     background-size: 192%;
//     background-position-y: bottom;
//     background-position-x: -50px;
//     height: $minHeight;
//     //background-color: rgba(23, 135, 255, 0.83);
//     top: $TopRightSlider;
//     float: right;
//     //left: 0;
//     .TebRoozLogo {
//       width: 55%;
//       height: 68px;
//       margin-top: 4%;
//       margin-left: 50%;
//       img {
//         width: 94px;
//         height: 57px;
//         //float: right;
//       }
//     }

//     .SocialNetworkIcon {
//       //width: 40px;
//       //height: $SocialNetworkHeight;
//       position: $sliderBoxPosition;
//       margin-top: $SocialNetworkTopSpace;
//       //direction: ltr;
//       padding-left: 0;
//       float: right;
//       background-color: #acddd7;
//       li {
//         width: 100%;
//         display: grid;
//         a {
//           width: 100%;
//           padding: 5px 12px 5px 8px;
//           text-align: center;
//           color: #FFFFFF;
//           i {
//             font-size: 22px;
//           }
//         }
//       }
//     }

//     .SignInBTN {
//       width: 120px;
//       text-align: center;
//       height: 60px;
//       //background-color: blueviolet;
//       position: $sliderBoxPosition;
//       margin-left: 35%;
//       margin-top: 60%;
//       a {
//         font-family: $FontFamily, Tahoma;
//         position: $sliderBoxPosition;
//         width: 100px;
//         text-align: center;
//         color: #FFFFFF;
//         text-decoration: none;
//         padding: 5px 15px;
//         border: solid #FFFFFF 1px;
//         top: 14px;
//         border-radius: 20px;
//         font-size: 20px;
//       }
//     }

//     .ContactNumber {
//       list-style: none;
//       //display: none;
//       //background-color: rgba(255,0,23,0.83);
//       width: 194px;
//       padding-left: 0;
//       margin-left: 135px;
//       margin-top: 93px;
//       height: 64px;
//       transform: rotate(64deg);
//       li {
//         color: #FFFFFF;
//         display: inline-block;
//         span {
//           font-size: 16px;
//         }
//         i {
//           font-size: 24px;
//         }
//       }
//     }

//   }
//   .LeftSideSlider {
//     width: $WidthLeftSlider;
//     background-image: url(../images/backgroundSliderLeft.png);
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     //bottom: $bottomSpaceBox;
//     //background-color: rgba(175, 28, 34, 0.83);
//     z-index: 2;
//     //right: 54%;
//     background-repeat: no-repeat;
//     background-size: 134%;
//     background-position-x: left;
//     background-position-y: bottom;
//   }

//   //categories style

//   //categories style

//   .CategoriesRow {
//     @include make-row();
//     direction: ltr;
//     position: $sliderBoxPosition;
//     //display: flex;
//     //flex-direction: column;
//     //background-color: rgba(33,37,175,0.83);
//     .CategoriesColumn {
//       @include make-col(12);
//       //background-color: rgba(255,0,23,0.83);
//       //max-width: 32%;
//       //flex: 32%;
//       padding-right: 10px;
//       padding-left: 10px;
//       display: flex;
//       align-items: baseline;
//       justify-content: space-between;

//       flex-direction: row;
//       flex-wrap: nowrap;
//       overflow-x: scroll;
//       padding-bottom: 15px;
//     }

//     .CategorieFrame {
//       //@include make-col(4);
//       //background-color: rgba(169, 175, 10, 0.83);
//       //background-image: url(../images/BackIconsBodyMembers.png);
//       background-repeat: no-repeat;
//       background-size: contain;
//       width: max-content;
//       height: max-content;
//       align-items: baseline;
//       justify-content: space-between;
//       img {
//         width: $WidthCategoriesIcon;
//         height: $heightCategoriesIcon;
//         //background-color: rgba(70, 175, 40, 0.83);
//         margin-left: 0;
//         margin-top: 10px;
//       }
//     }

//   }

//   // doctor slider

//   .DoctorRow {
//     width: 100%;
//   }

//   .TitleDoctorSlider {
//     width: 40%;
//     margin-left: 30%;
//     margin-top: 20px;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   .ImageFrame {
//     width: 100%;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   #exampleSlider .MS-controls button {
//     width: 10%;
//     display: block;
//     top: 300px;
//     color: #23677a;
//     width: 40px;
//     height: 40px;
//     border: 2px solid #23677a;
//     border-radius: 34px;
//     i {
//       vertical-align: super;
//       font-size: 22px;
//     }
//   }

//   #exampleSlider .MS-content {
//     width: 80%;
//     margin-left: 10%;
//     //border-color:#F2F2F2;
//     //border-style: groove;
//     //border-width: 4px 2px 2px 2px;
//     border: none;
//   }

//   #exampleSlider .MS-content .item {
//     width: 48%;
//     border: 2px groove #F2F2F2;
//     margin: 5px 5px;
//   }

//   .ContentDoctorSlider {
//     $widthDoctorTXT: 98%;
//     width: $widthDoctorTXT;
//     font-family: $FontFamily;
//     .doctorName, .doctorDegree {
//       width: $widthDoctorTXT;
//       display: inherit;
//       text-align: right;
//       white-space: pre-wrap;
//     }
//     .doctorName {
//       font-size: 20px;
//       margin-top: 20px;
//       color: #4b65b2;
//     }
//     .doctorDegree {
//       font-size: 18px;
//       color: #6a6a6a;
//     }

//     .TextDoctorsSlider {
//       font-size: 16px;
//       width: $widthDoctorTXT;
//       white-space: pre-wrap;
//       text-align: right;
//       margin-top: 16px;
//       color: #a4a4a4;
//       border-top: solid 2px #F2F2F2;
//       //text-justify: auto;
//     }
//   }

//   // Articles style

//   .ArticlesRow {
//     margin-top: 20px;
//     width: 100%;
//     .ArticlesCol {
//       width: 100%;
//     }
//     .ArticlesTitle {
//       width: 40%;
//       margin-left: 30%;
//       margin-top: 20px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     .ArticlesBox {
//       width: 100%;
//       background-image: url('../images/backgroundServices.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position-x: right;
//       background-position-y: bottom;
//       margin-bottom: 15px;
//     }
//     .Article {
//       width: 100%;
//       font-family: $FontFamily;
//       margin-left: 0;
//       display: flex;
//       flex-direction: row-reverse;
//       margin-top: 15px;
//     }
//     .ImageArticle {
//       max-width: 30%;
//       flex: 30%;
//       height: auto;
//       //background-color: rgba(255,0,23,0.83);
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ArticleContent {
//       //background-color: rgba(217,60,159,0.83);
//       max-width: 70%;
//       flex: 70%;
//       flex-direction: column;
//       padding: 8px;
//       font-size: 16px;
//       background-color: transparent;
//       background-image: url('../images/backArticle.png');
//       background-size: cover;
//       color: #070506;
//     }
//     .TXTContent {
//       width: 100%;
//       direction: rtl;
//       text-align: justify;
//       justify-content: space-around;
//     }
//     .ArticleDate {
//       text-align: left;
//       width: 100%;
//       margin-top: 5px;
//     }
//   }

//   //video style

//   .VideoRow {
//     @include make-row();
//     .VideoColumn {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       padding: 15px;
//     }
//     .h_iframe-aparat_embed_frame {
//       position: relative;
//     }

//     .h_iframe-aparat_embed_frame .ratio {
//       display: block;
//       width: 100%;
//       height: auto;
//     }

//     .h_iframe-aparat_embed_frame iframe {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }
//     .VideoFrame {
//       max-width: 100%;
//       flex: 100%;
//       flex-direction: column;
//     }
//     .VideoTitle {
//       width: 40%;
//       margin-left: 30%;
//       margin-top: 20px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ItemsFrame {
//       width: 100%;
//       flex: 100%;
//       height: 300px;
//       overflow-y: scroll;
//       background-color: #F5F5F5;
//       margin-top: 10px;
//     }
//     /* Handle */
//     .VideoItems {
//       flex-direction: row-reverse;
//       display: inline-flex;
//       width: 100%;
//       flex: 100%;
//       margin-top: 15px;
//       .ImagesItem {
//         max-width: 40%;
//         flex: 40%;
//         img {
//           width: 100%;
//           height: auto;
//         }
//       }
//       .DescriptionItem {
//         width: 60%;
//         flex: 60%;
//         font-size: 12px;
//         text-align: right;
//         padding: 5px;
//         font-family: $FontFamily;
//         align-self: flex-end;
//         color: #266779;
//       }
//     }
//   }

//   // footer style

//   .FooterRow {
//     @include make-row();
//     background-color: #43868f;
//     background-image: url('../images/dots_footer.png');
//     background-repeat: no-repeat;
//     background-position-x: 40%;
//     background-position-y: -90px;
//     background-size: 80%;
//     .FooterColumn {
//       @include make-col(12);
//       font-family: $FontFamily;
//       font-size: 14px;
//       color: #FFFFFF;
//       padding: 10px 15px;
//     }
//     .FirstBox {
//       display: none;
//     }
//     .ThirdBox {
//       display: none;
//     }
//     .SecondBox {
//       @include make-col(12);
//       text-align: center;
//       .PhoneNumber, .date, .Address {
//         @include make-col(12);
//         display: inherit;
//         padding-top: 5px;
//         padding-bottom: 5px;
//       }
//     }

//   }

// }

// @media (min-width: 768px) and (max-width: 991.98px) {
//   $WidthLeftSlider: 15%;
//   $minHeight: 471px;
//   $WidthSlider: 694px;
//   $WidthRightSlider: 20em;
//   $SocialNetworkHeight: $minHeight/2;
//   $TopRightSlider: -1028px;
//   $bottomSpaceBox: 1px;
//   $SocialNetworkTopSpace: 208px;
//   $FontFamily: 'IRANSansWeb';
//   $FontSizeIcons: 20px;
//   $SizeIconsNavigation: 34px;
//   $sliderBoxPosition: relative;
//   $WidthCategoriesIcon: 110px;
//   $heightCategoriesIcon: 127px;
//   // max z-index=6;

//   .Container {
//     @include make-container();
//     overflow-x: hidden;
//   }

//   .FirstRow {
//     @include make-row();
//     min-height: auto;
//     //background-color: rgba(10, 255, 19, 0.83);
//     flex-direction: row;
//     position: $sliderBoxPosition;
//     //background-color: rgba(10, 255, 19, 0.83);
//     direction: ltr;
//     //overflow-x: hidden;
//     .SliderRow {
//       width: 100%;
//       display: inline-block;
//       height: $minHeight;
//       margin-top: -59px;
//       z-index: 1;
//     }
//   }
//   .NavigationRow {
//     width: 100%;
//     position: $sliderBoxPosition;
//     z-index: 4;
//     direction: rtl;
//     padding: 10px 0 10px 0;
//     //background-color: rgba(175,20,166,0.83);
//     min-height: 58px;
//     margin-top: 0;
//     .LanguageFrame, .MenuIcon, .SearchIcon {
//       display: inline-block;
//       z-index: 6;
//     }

//     .MenuIcon {
//       display: none;
//     }
//     .SearchIcon {
//       float: right;
//       //width: $SizeIconsNavigation;
//       //height: $SizeIconsNavigation;
//       right: -204px;
//       //background-color: rgba(115,118,115,0.83);
//       i {
//         padding: 0px 10px;
//         //text-align: center;
//         font-size: $FontSizeIcons;
//         line-height: 38px;
//       }
//     }
//     .NavigationItems {
//       //background-color: rgba(175, 104, 14, 0.83);
//       color: #FFFFFF;
//       position: relative;
//     }
//     .ListMenu {
//       width: 365px;
//       z-index: 5;
//       margin-top: 0;
//       padding-right: 16px;
//       //background-color: crimson;
//       margin-bottom: 0;
//       line-height: 38px;
//       float: right;
//       right: -210px;
//       text-align: right;
//       li {
//         display: inline;
//         font-family: $FontFamily;
//         font-weight: 600;
//         font-size: 16px;
//         text-align: right;
//         list-style: none;
//         width: 100%;
//         //background-color: blue;
//         border-left: #f1c148 solid 3px;
//         padding: 8px 5px;
//       }
//     }

//     .LanguageFrame {
//       padding-left: 10px;
//       padding-right: 10px;
//       margin-bottom: 0;
//       float: right;
//       right: 358px;
//       //background-color: aqua;
//       width: 200px;
//       padding-bottom: 2px;
//       padding-top: 3px;
//       li {
//         display: inline-block;
//         padding-right: 10px;
//         float: right;
//         a {
//           img {
//             width: $SizeIconsNavigation;
//             height: $SizeIconsNavigation;
//           }
//         }
//       }
//     }
//   }
//   .SliderFrame {
//     width: $WidthSlider;
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     z-index: 1;
//     top: -1*$minHeight;
//     margin-left: 0;
//     .carousel-indicators {
//       margin-left: -182px;
//     }
//     .carousel-indicators li {
//       //
//       box-sizing: content-box;
//       -webkit-box-flex: 0;
//       flex: 0 1 auto;
//       width: 16px;
//       height: 16px;
//       margin-right: 3px;
//       margin-left: 3px;
//       text-indent: -999px;
//       cursor: pointer;
//       background-color: #216975;
//       background-clip: padding-box;
//       border-top: 0px solid transparent;
//       border-bottom: 0px solid transparent;
//       border-radius: 8px;
//       //-webkit-transition: opacity 0.6s ease;
//       //transition: opacity 0.6s ease;
//     }
//     .ImagesSlider {
//       width: auto;
//       .carousel-item {
//         img {
//           height: $minHeight;
//           width: $WidthSlider;
//         }
//       }
//     }

//   }
//   .RightSideSlider {
//     width: 40em;
//     position: relative;
//     z-index: 3;
//     background-image: url(../images/backgroundSliderRight.png);
//     background-repeat: no-repeat;
//     background-size: 104%;
//     background-position-y: 0;
//     background-position-x: -18px;
//     height: 514px;
//     top: -988px;
//     float: right;
//     //background-color: black;
//     //left: 0;
//     .TebRoozLogo {
//       width: max-content;
//       height: max-content;
//       margin-top: 160px;
//       margin-left: 50%;
//       img {
//         width: 160px;
//         height: 96px;
//         //float: right;
//       }
//     }

//     .SocialNetworkIcon {
//       position: $sliderBoxPosition;
//       margin-top: $SocialNetworkTopSpace;
//       //direction: ltr;
//       padding-left: 0;
//       float: right;
//       background-color: #acddd7;
//       li {
//         width: 100%;
//         display: grid;
//         a {
//           width: 100%;
//           padding: 5px 12px 5px 8px;
//           text-align: center;
//           color: #FFFFFF;
//           i {
//             font-size: 22px;
//           }
//         }
//       }
//     }

//     .SignInBTN {
//       width: 120px;
//       text-align: center;
//       height: 60px;
//       //background-color: blueviolet;
//       position: $sliderBoxPosition;
//       margin-left: 55%;
//       margin-top: 20px;
//       a {
//         font-family: $FontFamily, Tahoma;
//         position: $sliderBoxPosition;
//         width: 100px;
//         text-align: center;
//         color: #FFFFFF;
//         text-decoration: none;
//         padding: 5px 15px;
//         border: solid #FFFFFF 1px;
//         top: 14px;
//         border-radius: 20px;
//         font-size: 20px;
//       }
//     }

//     .ContactNumber {
//       list-style: none;
//       //display: none;
//       //background-color: rgba(255,0,23,0.83);
//       width: 194px;
//       padding-left: 0;
//       margin-left: 312px;
//       margin-top: 86px;
//       height: 70px;
//       transform: rotate(0deg);
//       li {
//         color: #FFFFFF;
//         display: inline-block;
//         margin-top: 8px;
//         span {
//           font-size: 16px;
//           vertical-align: text-bottom;
//           font-weight: bold;
//         }
//         i {
//           font-size: 24px;
//         }
//       }
//     }

//   }
//   .LeftSideSlider {
//     width: $WidthLeftSlider;
//     background-image: url(../images/backgroundSliderLeft.png);
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     //bottom: $bottomSpaceBox;
//     //background-color: rgba(175, 28, 34, 0.83);
//     z-index: 2;
//     //right: 54%;
//     margin-left: 0;
//     background-repeat: no-repeat;
//     background-size: 124%;
//     background-position-x: 0;
//     background-position-y: bottom;
//   }

//   //categories style

//   #exampleSlider {
//     border: none;
//   }
//   .CategoriesRow {
//     @include make-row();
//     direction: ltr;
//     position: $sliderBoxPosition;
//     //display: flex;
//     //flex-direction: column;
//     //background-color: rgba(33,37,175,0.83);
//     .CategoriesColumn {
//       @include make-col(12);
//       //background-color: rgba(255,0,23,0.83);
//       //max-width: 32%;
//       //flex: 32%;
//       padding-right: 10px;
//       padding-left: 10px;
//       display: flex;
//       align-items: baseline;
//       justify-content: space-between;

//       flex-direction: row;
//       flex-wrap: nowrap;
//       overflow-x: scroll;
//       padding-bottom: 15px;
//     }

//     .CategorieFrame {
//       //@include make-col(4);
//       //background-color: rgba(169, 175, 10, 0.83);
//       //background-image: url(../images/BackIconsBodyMembers.png);
//       background-repeat: no-repeat;
//       background-size: contain;
//       width: max-content;
//       height: max-content;
//       align-items: baseline;
//       justify-content: center;
//       img {
//         width: $WidthCategoriesIcon;
//         height: $heightCategoriesIcon;
//         //background-color: rgba(70, 175, 40, 0.83);
//         margin: 10px;
//       }
//     }

//   }

//   // doctor slider

//   .TitleDoctorSlider {
//     width: 40%;
//     margin-left: 30%;
//     margin-top: 20px;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   .ImageFrame {
//     width: 100%;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   #exampleSlider .MS-controls button {
//     width: 10%;
//     display: block;
//     top: 300px;
//     color: #23677a;
//     width: 40px;
//     height: 40px;
//     border: 2px solid #23677a;
//     border-radius: 34px;
//     i {
//       vertical-align: super;
//       font-size: 22px;
//     }
//   }

//   #exampleSlider .MS-content {
//     width: 80%;
//     margin-left: 10%;
//     //border-color:#F2F2F2;
//     //border-style: groove;
//     //border-width: 4px 2px 2px 2px;
//     border: none;
//   }

//   #exampleSlider .MS-content .item {
//     width: 48%;
//     border: 2px groove #F2F2F2;
//     margin: 5px 5px;
//   }

//   .ContentDoctorSlider {
//     $widthDoctorTXT: 98%;
//     width: $widthDoctorTXT;
//     font-family: $FontFamily;
//     .doctorName, .doctorDegree {
//       width: $widthDoctorTXT;
//       display: inherit;
//       text-align: right;
//       white-space: pre-wrap;
//     }
//     .doctorName {
//       font-size: 20px;
//       margin-top: 20px;
//       color: #4b65b2;
//     }
//     .doctorDegree {
//       font-size: 18px;
//       color: #6a6a6a;
//     }

//     .TextDoctorsSlider {
//       font-size: 16px;
//       width: $widthDoctorTXT;
//       white-space: pre-wrap;
//       text-align: right;
//       margin-top: 16px;
//       color: #a4a4a4;
//       border-top: solid 2px #F2F2F2;
//       //text-justify: auto;
//     }
//   }

//   // Articles style

//   .ArticlesRow {
//     @include make-row();
//     margin-top: 20px;
//     .ArticlesCol {
//       width: 100%;
//     }
//     .ArticlesTitle {
//       width: 40%;
//       margin-left: 30%;
//       margin-top: 20px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     .ArticlesBox {
//       width: 100%;
//       background-image: url('../images/backgroundServices.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position-x: left;
//       background-position-y: top;
//       margin-bottom: 15px;
//       display: inline-flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//     }
//     .Article {
//       max-width: 48%;
//       flex: 48%;
//       font-family: $FontFamily;
//       margin-left: 5px;
//       margin-right: 5px;
//       display: flex;
//       flex-direction: row-reverse;
//       margin-top: 15px;
//       margin-bottom: 15px;
//     }
//     .ImageArticle {
//       max-width: 30%;
//       flex: 30%;
//       height: auto;
//       //background-color: rgba(255,0,23,0.83);
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ArticleContent {
//       //background-color: rgba(217,60,159,0.83);
//       max-width: 70%;
//       flex: 70%;
//       flex-direction: column;
//       padding: 4px;
//       font-size: 11px;
//       background-color: transparent;
//       background-image: url('../images/backArticle.png');
//       background-size: cover;
//       color: #070506;
//     }
//     .TXTContent {
//       width: 100%;
//       direction: rtl;
//       text-align: justify;
//       justify-content: space-around;
//     }
//     .ArticleDate {
//       text-align: left;
//       width: 100%;
//       margin-top: 5px;
//     }
//   }

//   //video style

//   .VideoRow {
//     $videoPosition: absolute;
//     @include make-row();
//     height: max-content;
//     .VideoColumn {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       padding: 0px 15px 15px 15px;
//       position: $videoPosition;
//     }
//     .h_iframe-aparat_embed_frame {
//       position: relative;
//     }

//     .h_iframe-aparat_embed_frame .ratio {
//       display: block;
//       width: 100%;
//       height: auto;
//     }

//     .h_iframe-aparat_embed_frame iframe {
//       position: $videoPosition;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 300px;
//     }
//     .VideoTitle {
//       position: $videoPosition;
//       width: 40%;
//       margin-left: 30%;
//       margin-top: 0;
//       img {
//         width: 100%;
//         height: auto;
//       }

//     }
//     .VideoFrame {
//       display: inline-flex;
//       max-width: 100%;
//       flex: 100%;
//       flex-direction: row-reverse;
//       flex-wrap: nowrap;
//       margin-top: 94px;
//       //background-color: rgba(175,20,166,0.83);
//     }

//     .Video {
//       max-width: 58%;
//       flex: 58%;
//       height: 300px;
//     }
//     .ItemsFrame {
//       width: 42%;
//       flex: 42%;
//       height: 300px;
//       overflow-y: scroll;
//       margin-top: 0;
//       padding-right: 15px;
//       //background-color: rgba(255,0,23,0.83);
//     }
//     /* Handle */
//     .VideoItems {
//       width: 100%;
//       flex: 100%;
//       flex-direction: row-reverse;
//       display: inline-flex;
//       margin-top: 15px;
//       .ImagesItem {
//         max-width: 40%;
//         flex: 40%;
//         img {
//           width: 100%;
//           height: auto;
//         }
//       }
//       .DescriptionItem {
//         width: 60%;
//         flex: 60%;
//         font-size: 12px;
//         text-align: right;
//         padding: 5px;
//         font-family: $FontFamily;
//         align-self: flex-end;
//         color: #266779;
//       }
//     }
//   }

//   //footer style
//   .FooterRow {
//     @include make-row();
//     background-color: #43868f;
//     background-image: url('../images/dots_footer.png');
//     background-repeat: no-repeat;
//     background-position-x: 178%;
//     background-position-y: -30px;
//     background-size: 70%;
//     margin-top: 420px;
//     .FooterColumn {
//       @include make-col(12);
//       //background-color: rgba(44, 175, 156, 0.83);
//       font-family: $FontFamily;
//       font-size: 14px;
//       color: #FFFFFF;
//       padding: 10px 0px 10px 10px;
//       display: inline-flex;
//       flex-direction: row;
//     }
//     .FirstBox, .SecondBox, .ThirdBox {
//       //max-width: 32%;
//       //flex: 32%;
//     }
//     .FirstBox, .SecondBox {
//       width: 30%;
//       flex: 30%;
//     }
//     .FirstBox {
//       //background-color: rgba(17, 62, 175, 0.83);
//       background-image: url('../images/FooterSeprator.png');
//       background-repeat: no-repeat;
//       background-size: 5%;
//       background-position-x: right;
//       background-position-y: bottom;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 15px;
//       margin-right:5px;
//       .Title {
//         width: 100%;
//         flex: 100%;
//       }
//       .Icons {
//         width: 100%;
//         flex: 100%;
//         height: 30px;
//         text-align: right;
//         margin-top: 10px;
//         a {
//           color: #ffffff;
//           text-decoration: none;
//           margin: auto 4px;
//           i {
//             font-size: 24px;
//           }
//         }
//       }
//       .TitleServices{
//         margin-bottom: 10px;
//       }
//       .SevicesFrame{
//         padding-right: 5px;
//       }
//     }
//     .SecondBox {
//       text-align: right;
//       //background-color: rgba(108, 60, 175, 0.83);
//       background-image: url('../images/FooterSeprator.png');
//       background-repeat: no-repeat;
//       background-size: 5%;
//       background-position-x: right;
//       background-position-y: bottom;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 15px;
//       margin-right:5px;
//       .PhoneNumber, .date, .Address {
//         display: inherit;
//         padding-top: 5px;
//         padding-bottom: 5px;
//         top: 80px;
//         position: relative;
//       }
//     }
//     .ThirdBox {
//       //background-color: rgba(49, 14, 175, 0.83);
//       width: 40%;
//       flex: 40%;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 15px;
//       margin-right:5px;
//       .About{
//         p{
//           margin-bottom: 10px;
//         }
//         a {
//           font-family: $FontFamily, Tahoma;
//           position: $sliderBoxPosition;
//           width: 100px;
//           text-align: center;
//           color: #FFFFFF;
//           text-decoration: none;
//           padding: 2px 8px;
//           border: solid #FFFFFF 1px;
//           top: 0;
//           border-radius: 20px;
//           font-size: 12px;
//           float:left;
//         }
//       }
//       .Logo {
//         //background-color: rgba(175, 21, 99, 0.83);
//         img {
//           width: 50%;
//           height: auto;
//           //background-color: rgba(175, 40, 57, 0.83);
//         }
//       }
//     }
//   }

// }

// @media (min-width: 992px) and (max-width: 1199.98px) {
//   $WidthLeftSlider: 15%;
//   $minHeight: 577px;
//   $WidthSlider: 850px;
//   $WidthRightSlider: 20em;
//   $SocialNetworkHeight: $minHeight/2;
//   $TopRightSlider: -1028px;
//   $bottomSpaceBox: 1px;
//   $SocialNetworkTopSpace: 208px;
//   $FontFamily: 'IRANSansWeb';
//   $FontSizeIcons: 26px;
//   $SizeIconsNavigation: 34px;
//   $sliderBoxPosition: relative;
//   $WidthCategoriesIcon: 110px;
//   $heightCategoriesIcon: 127px;
//   // max z-index=6;
//   .FirstRow {
//     @include make-row();
//     min-height: auto;
//     //background-color: rgba(10, 255, 19, 0.83);
//     flex-direction: row;
//     position: $sliderBoxPosition;
//     //background-color: rgba(10, 255, 19, 0.83);
//     direction: ltr;
//     //overflow-x: hidden;
//     .SliderRow {
//       width: 100%;
//       display: inline-block;
//       height: $minHeight;
//       margin-top: -59px;
//       z-index: 1;
//     }
//   }
//   .NavigationRow {
//     width: 100%;
//     position: $sliderBoxPosition;
//     z-index: 4;
//     direction: rtl;
//     padding: 10px 0 10px 0;
//     //background-color: rgba(175,20,166,0.83);
//     min-height: 58px;
//     margin-top: 0;
//     .LanguageFrame, .MenuIcon, .SearchIcon {
//       display: inline-block;
//       z-index: 6;
//     }

//     .MenuIcon {
//       display: none;
//     }
//     .SearchIcon {
//       float: right;
//       //width: $SizeIconsNavigation;
//       //height: $SizeIconsNavigation;
//       right: -192px;
//       //background-color: rgba(115,118,115,0.83);
//       i {
//         padding: 0px 10px;
//         //text-align: center;
//         font-size: $FontSizeIcons;
//         line-height: 38px;
//       }
//     }
//     .NavigationItems {
//       //background-color: rgba(175, 104, 14, 0.83);
//       color: #FFFFFF;
//       position: relative;
//     }
//     .ListMenu {
//       width: 365px;
//       z-index: 5;
//       margin-top: 0;
//       padding-right: 16px;
//       //background-color: crimson;
//       margin-bottom: 0;
//       line-height: 38px;
//       float: right;
//       right: -202px;
//       text-align: right;
//       li {
//         display: inline;
//         font-family: $FontFamily;
//         font-weight: 600;
//         font-size: 16px;
//         text-align: right;
//         list-style: none;
//         width: 100%;
//         //background-color: blue;
//         border-left: #f1c148 solid 3px;
//         padding: 8px 5px;
//       }
//     }

//     .LanguageFrame {
//       padding-left: 10px;
//       padding-right: 10px;
//       margin-bottom: 0;
//       float: right;
//       right: 364px;
//       //background-color: aqua;
//       width: 200px;
//       padding-bottom: 2px;
//       padding-top: 3px;
//       li {
//         display: inline-block;
//         padding-right: 10px;
//         float: right;
//         a {
//           img {
//             width: $SizeIconsNavigation;
//             height: $SizeIconsNavigation;
//           }
//         }
//       }
//     }
//   }
//   .SliderFrame {
//     width: $WidthSlider;
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     z-index: 1;
//     top: -1*$minHeight;
//     margin-left: 0;
//     .carousel-indicators li {
//       //
//       box-sizing: content-box;
//       -webkit-box-flex: 0;
//       flex: 0 1 auto;
//       width: 16px;
//       height: 16px;
//       margin-right: 3px;
//       margin-left: 3px;
//       text-indent: -999px;
//       cursor: pointer;
//       background-color: #216975;
//       background-clip: padding-box;
//       border-top: 0px solid transparent;
//       border-bottom: 0px solid transparent;
//       border-radius: 8px;
//       //-webkit-transition: opacity 0.6s ease;
//       //transition: opacity 0.6s ease;
//     }
//     .ImagesSlider {
//       width: auto;
//       .carousel-item {
//         img {
//           height: $minHeight;
//           width: $WidthSlider;
//         }
//       }
//     }

//   }
//   .RightSideSlider {
//     width: 38.5em;
//     position: relative;
//     z-index: 3;
//     background-image: url(../images/backgroundSliderRight.png);
//     background-repeat: no-repeat;
//     background-size: 104%;
//     background-position-y: 0;
//     background-position-x: -22px;
//     height: $minHeight;
//     top: -1154px;
//     float: right;
//     //background-color: black;
//     //left: 0;
//     .TebRoozLogo {
//       width: max-content;
//       height: max-content;
//       margin-top: 140px;
//       margin-left: 48%;
//       img {
//         width: 220px;
//         height: 132px;
//         //float: right;
//       }
//     }

//     .SocialNetworkIcon {
//       position: $sliderBoxPosition;
//       margin-top: $SocialNetworkTopSpace;
//       //direction: ltr;
//       padding-left: 0;
//       float: right;
//       background-color: #acddd7;
//       li {
//         width: 100%;
//         display: grid;
//         a {
//           width: 100%;
//           padding: 5px 12px 5px 8px;
//           text-align: center;
//           color: #FFFFFF;
//           i {
//             font-size: 22px;
//           }
//         }
//       }
//     }

//     .SignInBTN {
//       width: 120px;
//       text-align: center;
//       height: 60px;
//       //background-color: blueviolet;
//       position: $sliderBoxPosition;
//       margin-left: 56%;
//       margin-top: 20px;
//       a {
//         font-family: $FontFamily, Tahoma;
//         position: $sliderBoxPosition;
//         width: 100px;
//         text-align: center;
//         color: #FFFFFF;
//         text-decoration: none;
//         padding: 5px 15px;
//         border: solid #FFFFFF 1px;
//         top: 14px;
//         border-radius: 20px;
//         font-size: 20px;
//       }
//     }

//     .ContactNumber {
//       list-style: none;
//       //display: none;
//       //background-color: rgba(255,0,23,0.83);
//       width: 194px;
//       padding-left: 0;
//       margin-left: 292px;
//       margin-top: 149px;
//       height: 70px;
//       transform: rotate(0deg);
//       li {
//         color: #FFFFFF;
//         display: inline-block;
//         margin-top: 8px;
//         span {
//           font-size: 16px;
//           vertical-align: text-bottom;
//           font-weight: bold;
//         }
//         i {
//           font-size: 24px;
//         }
//       }
//     }

//   }
//   .LeftSideSlider {
//     width: $WidthLeftSlider;
//     background-image: url(../images/backgroundSliderLeft.png);
//     height: $minHeight;
//     position: $sliderBoxPosition;
//     //bottom: $bottomSpaceBox;
//     //background-color: rgba(175, 28, 34, 0.83);
//     z-index: 2;
//     //right: 54%;
//     margin-left: 0;
//     background-repeat: no-repeat;
//     background-size: 130%;
//     background-position-x: 0;
//     background-position-y: bottom;
//   }

//   //categories style

//   .CategoriesRow {
//     @include make-row();
//     direction: ltr;
//     position: $sliderBoxPosition;
//     //display: flex;
//     //flex-direction: column;
//     //background-color: rgba(33,37,175,0.83);
//     .CategoriesColumn {
//       @include make-col(12);
//       //background-color: rgba(255,0,23,0.83);
//       //max-width: 32%;
//       //flex: 32%;
//       padding-right: 10px;
//       padding-left: 10px;
//       display: flex;
//       align-items: baseline;
//       justify-content: space-between;

//       flex-direction: row;
//       flex-wrap: nowrap;
//       overflow-x: scroll;
//       padding-bottom: 15px;
//     }

//     .CategorieFrame {
//       //@include make-col(4);
//       //background-color: rgba(169, 175, 10, 0.83);
//       //background-image: url(../images/BackIconsBodyMembers.png);
//       background-repeat: no-repeat;
//       background-size: contain;
//       width: max-content;
//       height: max-content;
//       align-items: baseline;
//       justify-content: center;
//       img {
//         width: $WidthCategoriesIcon;
//         height: $heightCategoriesIcon;
//         //background-color: rgba(70, 175, 40, 0.83);
//         margin: 10px;
//       }
//     }

//   }

//   // doctor slider

//   #exampleSlider {
//     border: none;
//   }

//   .TitleDoctorSlider {
//     width: 30%;
//     margin-left: 35%;
//     margin-top: 20px;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   .ImageFrame {
//     width: 100%;
//     img {
//       width: 100%;
//       height: auto;
//     }
//   }

//   #exampleSlider .MS-controls button {
//     width: 10%;
//     display: block;
//     top: 300px;
//     color: #23677a;
//     width: 40px;
//     height: 40px;
//     border: 2px solid #23677a;
//     border-radius: 34px;
//     i {
//       vertical-align: super;
//       font-size: 22px;
//     }
//   }

//   #exampleSlider .MS-controls .MS-left {
//     left: 2px;
//   }

//   #exampleSlider .MS-controls .MS-right {
//     right: 2px;
//   }

//   #exampleSlider .MS-content {
//     width: 80%;
//     margin-left: 10%;
//     //border-color:#F2F2F2;
//     //border-style: groove;
//     //border-width: 4px 2px 2px 2px;
//     border: none;
//   }

//   #exampleSlider .MS-content .item {
//     width: 32%;
//     border: 2px groove #F2F2F2;
//     margin: 5px 6px;
//   }

//   .ContentDoctorSlider {
//     $widthDoctorTXT: 98%;
//     width: $widthDoctorTXT;
//     font-family: $FontFamily;
//     .doctorName, .doctorDegree {
//       width: $widthDoctorTXT;
//       display: inherit;
//       text-align: right;
//       white-space: pre-wrap;
//     }
//     .doctorName {
//       font-size: 20px;
//       margin-top: 20px;
//       color: #4b65b2;
//     }
//     .doctorDegree {
//       font-size: 18px;
//       color: #6a6a6a;
//     }

//     .TextDoctorsSlider {
//       font-size: 16px;
//       width: $widthDoctorTXT;
//       white-space: pre-wrap;
//       text-align: right;
//       margin-top: 16px;
//       color: #a4a4a4;
//       border-top: solid 2px #F2F2F2;
//       //text-justify: auto;
//     }
//   }

//   // Articles style

//   .ArticlesRow {
//     @include make-row();
//     margin-top: 20px;
//     .ArticlesCol {
//       width: 100%;
//     }
//     .ArticlesTitle {
//       width: 30%;
//       margin-left: 35%;
//       margin-top: 20px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }

//     .ArticlesBox {
//       width: 100%;
//       background-image: url('../images/backgroundServices.jpg');
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position-x: left;
//       background-position-y: top;
//       margin-bottom: 15px;
//       display: inline-flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       justify-content: flex-end;
//     }
//     .Article {
//       max-width: 46%;
//       flex: 46%;
//       font-family: $FontFamily;
//       margin-left: 5px;
//       margin-right: 5px;
//       display: flex;
//       flex-direction: row-reverse;
//       margin-top: 15px;
//       margin-bottom: 15px;
//     }
//     .ImageArticle {
//       max-width: 30%;
//       flex: 30%;
//       height: auto;
//       //background-color: rgba(255,0,23,0.83);
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//     .ArticleContent {
//       //background-color: rgba(217,60,159,0.83);
//       max-width: 70%;
//       flex: 70%;
//       flex-direction: column;
//       padding: 8px;
//       font-size: 15px;
//       background-color: transparent;
//       background-image: url('../images/backArticle.png');
//       background-size: cover;
//       color: #070506;
//     }
//     .TXTContent {
//       width: 100%;
//       direction: rtl;
//       text-align: justify;
//       justify-content: space-around;
//     }
//     .ArticleDate {
//       text-align: left;
//       width: 100%;
//       margin-top: 5px;
//     }
//   }

//   //video style

//   .VideoRow {
//     $videoPosition: absolute;
//     @include make-row();
//     height: max-content;
//     .VideoColumn {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       padding: 0px 15px 15px 15px;
//       position: $videoPosition;
//     }
//     .h_iframe-aparat_embed_frame {
//       position: relative;
//     }

//     .h_iframe-aparat_embed_frame .ratio {
//       display: block;
//       width: 100%;
//       height: auto;
//     }

//     .h_iframe-aparat_embed_frame iframe {
//       position: $videoPosition;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 368px;
//     }
//     .VideoTitle {
//       position: $videoPosition;
//       width: 40%;
//       margin-left: 30%;
//       margin-top: 0;
//       img {
//         width: 100%;
//         height: auto;
//       }

//     }
//     .VideoFrame {
//       display: inline-flex;
//       max-width: 100%;
//       flex: 100%;
//       flex-direction: row-reverse;
//       flex-wrap: nowrap;
//       margin-top: 94px;
//       //background-color: rgba(175,20,166,0.83);
//     }

//     .Video {
//       max-width: 68%;
//       flex: 68%;
//       height: 368px;
//     }
//     .ItemsFrame {
//       width: 30%;
//       flex: 30%;
//       height: 368px;
//       overflow-y: scroll;
//       margin-top: 0;
//       padding-right: 0;
//       margin-right: 15px;
//       //background-color: rgba(255,0,23,0.83);
//     }
//     /* Handle */
//     .VideoItems {
//       width: 100%;
//       flex: 100%;
//       flex-direction: row-reverse;
//       display: inline-flex;
//       margin-top: 15px;
//       .ImagesItem {
//         max-width: 40%;
//         flex: 40%;
//         img {
//           width: 100%;
//           height: auto;
//         }
//       }
//       .DescriptionItem {
//         width: 60%;
//         flex: 60%;
//         font-size: 14px;
//         text-align: right;
//         padding: 5px;
//         font-family: $FontFamily;
//         align-self: flex-end;
//         color: #266779;
//       }
//     }
//   }

//   //footer style
//   .FooterRow {
//     @include make-row();
//     background-color: #43868f;
//     background-image: url('../images/dots_footer.png');
//     background-repeat: no-repeat;
//     background-position-x: 165%;
//     background-position-y: -52px;
//     background-size: 66%;
//     margin-top: 490px;
//     .FooterColumn {
//       @include make-col(12);
//       //background-color: rgba(44, 175, 156, 0.83);
//       font-family: $FontFamily;
//       font-size: 14px;
//       color: #FFFFFF;
//       padding: 10px 0px 10px 10px;
//       display: inline-flex;
//       flex-direction: row;
//     }
//     .FirstBox, .SecondBox, .ThirdBox {
//       //max-width: 32%;
//       //flex: 32%;
//     }
//     .FirstBox, .SecondBox {
//       width: 30%;
//       flex: 30%;
//     }
//     .FirstBox {
//       //background-color: rgba(17, 62, 175, 0.83);
//       background-image: url('../images/FooterSeprator.png');
//       background-repeat: no-repeat;
//       background-size: 5%;
//       background-position-x: right;
//       background-position-y: bottom;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 25px;
//       margin-right:5px;
//       .SocialNetWorks{
//         margin-top:20px;
//       }
//       .Title {
//         width: 100%;
//         flex: 100%;
//       }
//       .Icons {
//         width: 100%;
//         flex: 100%;
//         height: 36px;
//         text-align: right;
//         margin-top: 10px;
//         a {
//           color: #ffffff;
//           text-decoration: none;
//           margin: auto 4px;
//           i {
//             font-size: 24px;
//           }
//         }
//       }
//       .TitleServices{
//         margin-bottom: 10px;
//       }
//       .SevicesFrame{
//         padding-right: 5px;
//       }
//     }
//     .SecondBox {
//       text-align: right;
//       //background-color: rgba(108, 60, 175, 0.83);
//       background-image: url('../images/FooterSeprator.png');
//       background-repeat: no-repeat;
//       background-size: 5%;
//       background-position-x: right;
//       background-position-y: bottom;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 25px;
//       margin-right:5px;
//       .PhoneNumber, .date, .Address {
//         display: inherit;
//         padding-top: 5px;
//         padding-bottom: 5px;
//         top: 84px;
//         position: relative;
//       }
//     }
//     .ThirdBox {
//       //background-color: rgba(49, 14, 175, 0.83);
//       width: 40%;
//       flex: 40%;
//       flex-direction: column;
//       text-align: right;
//       direction: rtl;
//       padding-right: 20px;
//       margin-right:5px;
//       .About{
//         p{
//           margin-bottom: 10px;
//         }
//         a {
//           font-family: $FontFamily, Tahoma;
//           position: $sliderBoxPosition;
//           width: 100px;
//           text-align: center;
//           color: #FFFFFF;
//           text-decoration: none;
//           padding: 2px 8px;
//           border: solid #FFFFFF 1px;
//           top: 0;
//           border-radius: 20px;
//           font-size: 12px;
//           float:left;
//         }
//       }
//       .Logo {
//         //background-color: rgba(175, 21, 99, 0.83);
//         img {
//           width: 40%;
//           height: auto;
//           //background-color: rgba(175, 40, 57, 0.83);
//         }
//       }
//     }
//   }

// }


